* {
    margin: 0 auto;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #545454;
}



#wrap {
    width: 100%;
}



/* header */
header {
    width: 100%;
    height: 700px;
    position: relative;
}
/* nav */
#nav {
    width: 100%;
    height: 100px;
    position: relative;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
    transition: height 0.4s;
}
.logo {
    height: 100px;
    line-height: 120px;
    margin-left: 50px;
    float: left;
}
.nav_mn {
    position: absolute;
    float: left;
    width: 700px;
    height: 100px;
    margin-left: 250px;
    line-height: 100px;
}
.nav_mn li {
    float: left;
    font-size: 24px;
    width: 120px;
    text-align: center;
    position: relative;
}
.nav_mn li a {
    display: block;
}
.nav_mn li a:hover {
    font-weight: 800;
    transition: 0.3s;
}
.nav_mn li:nth-child(5) {
    width: 220px;
}
.nav_mn li> input {
    border: none;
    height: 40px;
    width: 200px;
    padding: 0 10px 0 10px;
    font-size: 24px;
    border-bottom: 2px solid #000;
}
.sub {
    background-color: #fff;
    width: 100%;
    height: 200px;
    position: absolute;
}
.sub li {
    height: 50px;
    line-height: 50px;
}
.sub li a {
    font-size: 18px;
    display: block;
}

/* slide */
#slide {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.sl_img {
    left: 0;
    position: absolute;
    width: 100%;
    transition: left 0.3s ease-in;
}
.sl_img.animated {
    transition: left 0.3s ease-in;
}
.sl_img li {
    position: absolute;
    width: 100%;
    height: 700px;
}
.sl_img li:nth-child(1) {
    left: 0;
}
.sl_img li:nth-child(2) {
    left: 100%;
}
.sl_img li:nth-child(3) {
    left: 200%;
}
.sl_img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}


#pv_button {
    width: 100%;
    top: 350px;
    position: absolute;
    cursor: pointer;
}
#pv_button div:hover {
    filter: invert(100%);
    transition: 0.3s;
}
.prev {
    width: 40px;
    left: 50px;
    position: absolute;
    transition: 0.3s;
}
.next {
    width: 40px;
    right: 50px;
    position: absolute;
    transition: left 1s ease-in;
}
#slbt {
    width: 100%;
    top: 650px;
    position: absolute;
    text-align: center;
}
.sl_button {
    width: 100px;
    display: inline-block;
    text-align: center;
}
.sl_button li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
}
.sl_button li.on {
    filter: invert(100%);
}
.sl_button li:last-child {
    margin-right: 0;
}
.sl_button li img {
    width: 20px;
    height: 20px;
}


/* login */
.log {
    float: right;
    width: 200px;
    height: 100px;
}
.log li {
    float: left;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 100px;
}
.log a {
    display: block;
}
.log li a:hover {
    font-weight: 700;
    transition: 0.3s;
}


/* section1 */
#con1 {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
}

/* new */
#new {
    width: 1350px;
    height: 1300px;
    position: relative;
}
#new>p {
    text-align: center;
    font-size: 30px;
    padding: 100px 0 80px 0;
}
.new_wine {
    width: 1350px;
    position: absolute;
}
.new_wine li {
    width: 250px;
    float: left;
    background: #fff;
    margin: 20px 10px 50px 10px;
    padding-bottom: 30px;
    text-align: center;
    cursor: pointer;
    filter: grayscale(0%);
    filter: none;
}
.new_wine li img {
    width: 100px;
    margin: 30px;
}
.origin {
    color: rgb(117, 117, 117);
}
.new_wine li p {
    margin-bottom: 5px;
}
.new_wine li:hover {
    background-color: #f7f4ed;
    border-radius: 10px;
    transition: 0.5s;
}
.new_wine li:nth-child(2):hover {
    filter: grayscale(100%);
    filter: gray;
    transition: 0.5s;
}
.new_wine li:nth-child(2):hover .sold {
    opacity: 1;
}
.sold {
    position: absolute;
    opacity: 0;
    width: 250px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: 0.5s;
}



/* section2 */
#con2 {
    overflow: hidden;
    width: 100%;
    background-color: #f7f4ed;
}
/* grocery */
#grocery {
    width: 1350px;
    height: 1100px;
    position: relative;
}
#grocery>p {
    text-align: center;
    font-size: 30px;
    padding: 100px 0 80px 0;
}
.new_gro {
    width: 1350px;
    position: absolute;
}
.new_gro li {
    width: 250px;
    float: left;
    background: #f7f4ed;
    margin: 20px 10px 50px 10px;
    padding-bottom: 30px;
    text-align: center;
    cursor: pointer;
    filter: grayscale(0%);
    filter: none;
}
.new_gro li img {
    width: 200px;
    margin: 30px;
}
.new_gro li p {
    margin-bottom: 5px;
}
.new_gro li:hover {
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
}


/* footer */
footer {
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url(../images/footer.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 50px;
}
.info p {
    text-align: center;
    font-size: 18px;
}